@media(max-width: 620px) {
    .logo-one-piece {
        max-height: 280px;
    }

    .personagem-slider {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta {
        height: 20px;
        width: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lista-personagem {
        height: 480px;
    }

    .cartao .imagem-personagem {
        max-height: 240px;
    }

    .cartao .personagem .nome {
        max-width: 50%;
        font-size: 18px;
    }

    .cartao .personagem .vida {
        font-size: 14px;
    }
}

@media(max-width:420px) {
    .logo-one-piece {
        display: none;
    }

    .personagem-slider {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-imagem {
        max-height: 100px;
    }
}